<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap Core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Custom Fonts -->
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Fav Icon -->
    <link rel="shortcut icon" type="image/png" src="favicon.ico"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><i id="home-icon" class="glyphicon glyphicon-home fa-fw"></i></a>
            <a href="/"><img id="welcomeImage" src="textOnly2.png"></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" />
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <div class="navbar-right"></div>
        <!-- /.navbar-header -->
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Sarnia, ON">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
        </button>

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/results"><i class="glyphicon glyphicon-list-alt fa-fw"></i> Start Planning</a>
                    </li>
                    <li>
                        <a href="/about"><i class="glyphicon glyphicon-cloud fa-fw"></i> About</a>
                    </li>
                    <li>
                        <a href="/contact"><i class="glyphicon glyphicon-map-marker fa-fw"></i> Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>


    <!-- /#page-wrapper -->
            <!-- /.navbar-header -->
    <div id="page-wrapper">

            <div class="container-fluid">
                <div class="page-header">
                    <h1><span class="text-primary">In My Life</span> <small>I want to...</small></h1>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item"><i class="glyphicon glyphicon-triangle-right fa-fw"></i> Be a <strong>Scientist</strong>!</li>
                            <li class="list-group-item"><i class="glyphicon glyphicon-triangle-right fa-fw"></i> Work with <strong>Computers</strong>!</li>
                            <li class="list-group-item"><i class="glyphicon glyphicon-triangle-right fa-fw"></i> Teach <strong>Overseas</strong>!</li>
                            <li class="list-group-item"><i class="glyphicon glyphicon-triangle-right fa-fw"></i> Earn a <strong>Comfortable Living</strong>!</li>
                            <li class="list-group-item"><i class="glyphicon glyphicon-triangle-right fa-fw"></i> <strong>Stay Close to Family</strong>!</li>
                        </ul>
                        <small>Click each career for employment projections.</small>
                    </div>
                    <div class="col-md-6">
                        <h2 class="text-primary">Try <strong>DreamJob</strong></h2>
                        <h4><em>an online web application designed to connect youth with meaningful employment opportunities.</em></h4>
                        </br>

                        <p>This application was created by <strong><a href="/contact">four students</a></strong> from Lambton College in Sarnia, Ontario, Canada.
                    </div>
                </div>

                <div class="row"></br>
                    <h3>Resources</h3>
                    <h4>Government of Canada Federal Dataset</h4> <a href="http://open.canada.ca/data/en/dataset/e80851b8-de68-43bd-a85c-c72e1b3a3890">Canadian Occupational Projection System (COPS) - 2013 to 2022 projections</a></br>
                        <small>Annual Employment Projections</br>
                            Annual Change of the Projected Occupational Employment</br>
                            Replacement Demand in the Form of Annual Retirement Estimates</small>
                        <h2></h2><small></small>
                        <h2></h2><small></small>
                        <h2></h2><small></small>
                        <h2></h2><small></small>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/sb-admin-2.js"></script>

    <!-- Declaring Chart.js -->


</body>

</html>
