<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <script src="/Charts/Chart.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Custom Fonts -->
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Fav Icon -->
    <link rel="shortcut icon" type="image/png" src="favicon.ico"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="">

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><i id="home-icon" class="glyphicon glyphicon-home fa-fw"></i></a>
            <a href="/"><img id="welcomeImage" src="textOnly2.png"></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" />
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <div class="navbar-right"></div>
        <!-- /.navbar-header -->
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Technology">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
        </button>

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/results"><i class="glyphicon glyphicon-list-alt fa-fw"></i> Start Planning</a>
                    </li>
                    <li>
                        <a href="/about"><i class="glyphicon glyphicon-cloud fa-fw"></i> About</a>
                    </li>
                    <li>
                        <a href="/contact"><i class="glyphicon glyphicon-map-marker fa-fw"></i> Contact</a>
                    </li>
                    <li>
                        </br>
                        <p class="text-muted text-center">Click to focus your search:</p>
                        <button type="button" class="btn btn-primary center-block ">
                            Projections
                        </button>
                        </br>
                        <button type="button" class="btn btn-primary center-block ">
                            Vacancies
                        </button>
                        </br>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <!-- /#page-wrapper -->
    <!-- /.navbar-header -->

    <div id="page-wrapper">
        <script>
            var randomScalingFactor = function(){ return Math.round(Math.random()*100)};

            var barChartData = {
                labels : ["2011","2012","2013"],
                datasets : [
                    {
                        fillColor : "#bce03d",
                        strokeColor : "#bce03d",
                        highlightFill: "#bce03d",
                        highlightStroke: "#bce03d",
                        data : [8000, 5655, 10000]
                    },

                ]

            }
            window.onload = function(){
                var ctx = document.getElementById("canvas").getContext("2d");
                window.myBar = new Chart(ctx).Bar(barChartData, {
                    responsive : true
                });
            }
        </script>







        <div style="max-width: 350px">
            <canvas id="canvas" height="100" width="100" style="width : 50%"></canvas>
        </div>

        <!--
        // All Annual Job Vacancies by Year
    router.get('/annJobVacYr/:year', function(req, res, next) {
        res.render('results', {title: 'DreamJob Results', years: array, numVacancies: array});
    });

    // All Annual Job Vacancies for Specified ID
    router.get('/annJobVacID/:jobID', function(req, res, next) {
        res.render('results', {title: 'DreamJob Results', job: name, numVacancies: array});
    });

    // All Annual Job Vacancies for Specified ID for Specified Year
    router.get('/annJobVacYrID/:jobID/:year', function(req, res, next) {
        res.render('results', {title: 'DreamJob Results', job: name, year: year, numVacancies: array});
    });
-->


    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/sb-admin-2.js"></script>


    <!-- Output json array to console -->
    <script>
        function createArray(cb){
            $.getJSON("/results/annJobVac/2011", function(json) {
                var myArray = [];
                $.each(json, function() {
                    myArray.push(json);
                });
                cb(myArray);
            });
        }

        createArray(function(array) {
            //your array is available here
            console.log(array);
        })

    </script>

    <script>
        function createFieldArray(cb){
            $.getJSON("/results/annJobVac/2011", function(json) {
                var myArray = [];
                for (title in json) {
                    myArray.push(json[title].naics);
                }
                cb(myArray);
            });
        }

        createFieldArray(function(array) {
            //your array is available here
            console.log(array);
        })

    </script>

</body>

</html>