<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <script src="/Charts/Chart.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Custom Fonts -->
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Fav Icon -->
    <link rel="shortcut icon" type="image/png" src="favicon.ico"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>

</head>

<body ng-app="">

    <div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><i id="home-icon" class="glyphicon glyphicon-home fa-fw"></i></a>
            <a href="/"><img id="welcomeImage" src="textOnly2.png"></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" />
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
        </div>
        <div class="navbar-right"></div>
        <!-- /.navbar-header -->
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Technology">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
        </button>

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="/about"><i class="glyphicon glyphicon-cloud fa-fw"></i> About</a>
                    </li>
                    <li>
                        <a href="/results"><i class="glyphicon glyphicon-list-alt fa-fw"></i> Results</a>
                    </li>
                    <li>
                        <a href="/contact"><i class="glyphicon glyphicon-map-marker fa-fw"></i> Contact</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-wrench fa-fw"></i> Filters<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <form class="navbar-form" role="search">
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne">
                                            <h2 class="panel-title text-">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    Job Vacancy
                                                </a>
                                            </h2>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="vacancyFilters">

                                            <div id="radioLabels" class="panel-body">
                                                <div class="dropdown">
                                                    <button class="btn btn-sm dropdown-toggle btn-primary center-block" type="button" id="fieldName" data-toggle="dropdown" aria-expanded="true">
                                                        Select Field
                                                        <span class="caret"></span>
                                                    </button>
                                                    <!--<select ng-model="field[$index]">-->
                                                        <!--<option value="Information">Information Technology</option>-->
                                                        <!--<option value="Forestry">Forestry</option>-->
                                                        <!--<option value="Arts">Arts</option>-->
                                                    <!--</select>-->
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                        <li onselect="field1Func('abc')" role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                                                        <li onselect="field1Func('def')" role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                                                        <li onselect="field1Func('ghi')" role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                                                        <li onselect="field1Func('jkl')" role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                                                    </ul>
                                                </div>
                                                <br>
                                                <div class="radio">
                                                    <label class="radio radio-inline control-label">
                                                        <input ng-model="optionsRadios" type="radio" name="optionsRadios" id="optionsRadios1" value="">
                                                        All
                                                    </label>
                                                    <label class="radio radio-inline control-label">
                                                        <input ng-model="optionsRadios" type="radio" name="optionsRadios" id="optionsRadios1" value="2011">
                                                        2011
                                                    </label>
                                                    <label class="radio radio-inline control-label">
                                                        <input ng-model="optionsRadios" type="radio" name="optionsRadios" id="optionsRadios1" value="2012">
                                                        2012
                                                    </label>
                                                    <label class="radio radio-inline control-label">
                                                        <input ng-model="optionsRadios" type="radio" name="optionsRadios" id="optionsRadios1" value="2013">
                                                        2013
                                                    </label>
                                                </div>
                                                <div class = panel-footer>
                                                    <a href="/results/annJobVac/Information{{ '/' + optionsRadios }}"><span id="mainSubmit" class="btn btn-sm btn-primary center-block">View</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Employment Projections
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                            <div class="panel-body">
                                                Filters
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Replacement Demand
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                Filters
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingThree">
                                            <h4 class="panel-title">
                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Job Openings/Job Seekers
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                            <div class="panel-body">
                                                Filters
                                            </div>
                                        </div>
                                    </div>
                                    <!--<a href="/results{{ '/' + optionsRadios }}"><span id="mainSubmit" class="btn btn-sm btn-primary center-block">Submit</span></a>-->
                                </div>
                            </form>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>


    <!-- /#page-wrapper -->
            <!-- /.navbar-header -->

        <div id="page-wrapper">

            <script >
                var randomScalingFactor = function(){ return Math.round(Math.random()*100)};

                var barChartData = {
                    labels : ["2011","2012","2013"],
                    datasets : [
                        {
                            fillColor : "#bce03d",
                            strokeColor : "#bce03d",
                            highlightFill: "#bce03d",
                            highlightStroke: "#bce03d",
                            data : [<%=
                            for (var i = 0; i <= data.length; i++) {
                                if (i == 35 -1) {
                                   name(i).value ;
                                } else name(i).value + ",";
                            }
                            %>]
                        },

                    ]

                }
                window.onload = function(){
                    var ctx = document.getElementById("canvas").getContext("2d");
                    window.myBar = new Chart(ctx).Bar(barChartData, {
                        responsive : true
                    });
                }
            </script>


                        [
                        {
                            "_id": {
                                "$oid": "54e969b6522083c906235307"
                            },
                            "ref_date": 2011,
                            "geo": "Canada",
                            "stats": "Number of job vacancies",
                            "naics": "Information and cultural industries",
                            "value": "5"
                        },
                            {"_id": {
                                "$oid": "54e969b6522083c906235307"
                            },
                            "ref_date": 2013,
                            "geo": "Canada",
                            "stats": "Number of job vacancies",
                            "naics": "Information and cultural industries",
                            "value": "10"
                        }, {"_id": {
                                 "$oid": "54e969b6522083c906235307"
                        },
                "ref_date": 2012,
                        "geo": "Canada",
                        "stats": "Number of job vacancies",
                        "naics": "Information and cultural industries",
                        "value": "9"
                }
                ]



            <div style="width: 35%">
              <canvas id="canvas" height="100" width="100" style="width : 50%"></canvas>
            </div>

            <script>
                $.param({a:1, b:"Test 1"}) // gets: "a=1&b=Test+1"
            </script>

            <script type="text/javascript">

                var target1 = "";
                var target2 = "";

                function field1Func(id) {
                    target1 = id;
                }

                function field2Func(id) {
                    target2 = id;
                }

                function doSubmit() {

                    var url = "/results/annJobVac/" + target1 + "/" + target2;
                    var theForm=document.getElementById("theForm");
                    theForm.action = url;
                    theForm.submit();
                }
            </script>

            <!--
            // All Annual Job Vacancies by Year
        router.get('/annJobVacYr/:year', function(req, res, next) {
            res.render('results', {title: 'DreamJob Results', years: array, numVacancies: array});
        });

        // All Annual Job Vacancies for Specified ID
        router.get('/annJobVacID/:jobID', function(req, res, next) {
            res.render('results', {title: 'DreamJob Results', job: name, numVacancies: array});
        });

        // All Annual Job Vacancies for Specified ID for Specified Year
        router.get('/annJobVacYrID/:jobID/:year', function(req, res, next) {
            res.render('results', {title: 'DreamJob Results', job: name, year: year, numVacancies: array});
        });
-->


        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/sb-admin-2.js"></script>

</body>

</html>
